alias al='sl -a'
alias cpanmodlist='find `perl -e 'print "@INC"'` -name "*.pm" -print'
alias cpan_modlist="find `perl -e 'print "@INC"'` -name '*.pm' -print"
alias tailf='tail -f'

# for Mac
#if [ $TERM_PROGRAM = "Apple_Terminal" ]; then
#	alias hibernatemode='sudo pmset -a hibernatemode 1'
#	alias sleepmode='sudo pmset -a hibernatemode 3'
#	alias vim=/usr/local/bin/vim
#
#	# Ruby
#	export RUBYLIB=/Users/haro/work/rubysample:$RUBYLIB
#	[[ -s "/Users/haro/.rvm/scripts/rvm" ]] && source "/Users/haro/.rvm/scripts/rvm"  # This loads RVM into a shell session.
#
#	# Java
#	export JAVA_OPTS="-Dfile.encoding=UTF-8"
#fi

# coins
alias socks='ssh -N -f -D localhost:10080 -l s1011425 www.coins.tsukuba.ac.jp'

# viola
case $HOSTNAME in
 viola*)
	# rvm
	[[ -s "/home/ugrad/10/s1011425/.rvm/scripts/rvm" ]] && source "/home/ugrad/10/s1011425/.rvm/scripts/rvm"
	
	# ruby
	export RUBYLIB=/home/ugrad/10/s1011425/work/rubysample:$RUBYLIB
	;;
esac

